

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Preferences &mdash; helloSystem pre-alpha documentation</title>
  

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
        <script src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Boot Environments" href="preferences/boot-environments.html" />
    <link rel="prev" title="Autostart" href="autostart.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home" alt="Documentation Home"> helloSystem
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">User Guide</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../getting-started.html">Getting started</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../components.html">Getting to know the system</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="applications.html">Applications</a></li>
<li class="toctree-l3"><a class="reference internal" href="autostart.html">Autostart</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Preferences</a><ul>
<li class="toctree-l4"><a class="reference internal" href="preferences/boot-environments.html">Boot Environments</a></li>
<li class="toctree-l4"><a class="reference internal" href="preferences/desktop.html">Desktop</a></li>
<li class="toctree-l4"><a class="reference internal" href="preferences/keyboard.html">Keyboard</a></li>
<li class="toctree-l4"><a class="reference internal" href="preferences/sharing.html">Sharing</a></li>
<li class="toctree-l4"><a class="reference internal" href="preferences/shortcuts.html">Shortcut Keys</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="system.html">System components</a></li>
<li class="toctree-l3"><a class="reference internal" href="utilities.html">Utilities</a></li>
<li class="toctree-l3"><a class="reference internal" href="windows.html">Windows</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../troubleshooting.html">Troubleshooting</a></li>
<li class="toctree-l2"><a class="reference internal" href="../feedback.html">Providing feedback</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../developer/index.html">Developer Guide</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">helloSystem</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../index.html">User Guide</a> &raquo;</li>
        
          <li><a href="../components.html">Getting to know the system</a> &raquo;</li>
        
      <li>Preferences</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            
              <a href="https://github.com/helloSystem/docs/blob/main/user/components/preferences.md" class="fa fa-github"> Edit on GitHub</a>
            
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="preferences">
<h1>Preferences<a class="headerlink" href="#preferences" title="Permalink to this headline">¶</a></h1>
<p>helloSystem comes with the following preferences applications, each of which are described in this section:</p>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="preferences/boot-environments.html">Boot Environments</a><ul>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#viewing-boot-environments">Viewing Boot Environments</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#creating-boot-environments">Creating Boot Environments</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#removing-boot-environments">Removing Boot Environments</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#mounting-boot-environments">Mounting Boot Environments</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#booting-into-a-boot-environment">Booting into a Boot Environment</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/boot-environments.html#more-information">More Information</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="preferences/desktop.html">Desktop</a><ul>
<li class="toctree-l2"><a class="reference internal" href="preferences/desktop.html#background">Background</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/desktop.html#label-text">Label Text</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/desktop.html#advanced">Advanced</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="preferences/keyboard.html">Keyboard</a></li>
<li class="toctree-l1"><a class="reference internal" href="preferences/sharing.html">Sharing</a><ul>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#computer-name">Computer Name</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#remote-login">Remote Login</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#screen-sharing">Screen Sharing</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#accessing-the-screen-of-remote-computers">Accessing the screen of remote computers</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#accessing-the-screen-of-a-remote-computer-that-has-screen-sharing-enabled">Accessing the screen of a remote computer that has Screen Sharing enabled</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/sharing.html#accessing-the-screen-of-a-remote-computer-that-has-remote-login-enabled">Accessing the screen of a remote computer that has Remote Login enabled</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="preferences/shortcuts.html">Shortcut Keys</a><ul>
<li class="toctree-l2"><a class="reference internal" href="preferences/shortcuts.html#default-shortcuts">Default shortcuts</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/shortcuts.html#viewing-shortcuts">Viewing shortcuts</a></li>
<li class="toctree-l2"><a class="reference internal" href="preferences/shortcuts.html#editing-shortcuts">Editing shortcuts</a></li>
</ul>
</li>
</ul>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="preferences/boot-environments.html" class="btn btn-neutral float-right" title="Boot Environments" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="autostart.html" class="btn btn-neutral float-left" title="Autostart" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, probono

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>